html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

canvas {
    background-color: whitesmoke;
    border-radius: 20px;
    border: 2px solid black;
}

@font-face {
    font-family: 'fonteZelda'; 
    src: url('\fonts\Pretendo.ttf') format('truetype');
}